{% extends "base.html" %}
{% load static %}
{% block title %}
<title>contact us</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4">
      <img src="{% static 'images/notes.jpeg' %}" alt="Notes" width="360" height="250">
    </div>
    <div class="col-lg-4">
      <img src="{% static 'images/notes.jpeg' %}" alt="Notes" width="360" height="250">
    </div>
    <div class="col-lg-4">
      <img src="{% static 'images/notes.jpeg' %}" alt="Notes" width="360" height="250">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <center>
        <p class="h1">Quick and easy to use</p>
      </center>
      <center>
        <p class="h3">It is now easy to store</p>
      </center>
      <center>
        <a href="{% url 'todo' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Lets get
            started</button></a>
      </center>
    </div>
  </div>
</div>
{% endblock content %}